label {
    min-width: 5em;
    display: inline-block;
    text-align: left;
  }
  #miles, #yards {
    color: grey;
  }
  fieldset {
   width: 25em;
   padding: 2em;
   background: lightcyan;
   border: 1px solid navy;
  }
  legend {
    background: white;
    padding: 0.2em;
    border: 1px solid navy;
  }